.buy-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
            var(--transparent-black-60),
            var(--transparent-black-60)
        ),
        url("../../../../assets/buy-section-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
