@use "../variables";

.page {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: variables.$blockGap;

    &.bottom {
        margin-bottom: 100px;
    }
}
