.door-card {
    width: 100%;
    max-width: 296px;
    max-height: 563px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid var(--transparent-black-10);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    gap: 20px;
    aspect-ratio: 296/563;

    p {
        cursor: auto;
    }

    .model {
        color: var(--transparent-black-10);
    }

    .tags {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: auto;
        cursor: auto;
        gap: 20px;
        user-select: none;

        p {
            height: max-content;
            color: var(--black);
            font-size: 13px;
            background: var(--transparent-black-10);
            padding: 5px 10px;
            border-radius: 6px;
        }
    }

    img {
        height: 50%;
    }
}

@media (max-width: 1599px) {
    .door-card {
        max-width: 240px;
    }
}
