.path-text {
    display: flex;
    align-items: center;
    gap: 2px;

    a,
    span {
        text-decoration: none;
        color: var(--transparent-black-10);
        transition: 0.3s;
    }

    a.black {
        color: var(--black);
    }

    a:not(.black):active {
        color: var(--black);

        & ~ a.black {
            color: var(--transparent-black-10);
        }
    }
}

@media (hover: hover) {
    .path-text a:not(.black):hover {
        color: var(--black);

        & ~ a.black {
            color: var(--transparent-black-10);
        }
    }
}
